.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.322);
  position: fixed;
  z-index: 10;
  top: 0px;
}
.bannerContent {
  display: flex;
  width: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerContent:hover > .bannerItemLine {
  width: 50%;
  height: 5px;
  background-color: rgba(255, 0, 0, 0.89);
  transition: 0.5s;
}

.bannerItem {
  width: 100%;
  color: white;
  margin: 0 50px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}
.bannerItemLine {
  width: 0px;
  height: 5px;
  background-color: rgb(132, 0, 255);
}
.comment {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(255, 0, 0, 0.89)
    ),
    url("https://wallpaperaccess.com/full/279547.jpg");
  background-size: cover;
  flex-direction: column;
}
.commentHeader {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  letter-spacing: 2px;
  font-weight: 700;

  margin-top: 50px;
}
.commentHeader > span:nth-child(2) {
  color: #000000be;
  font-size: 50px;
  margin: 30px 50px;
  font-weight: 700;
}
.commentHeader > span:nth-child(1) {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 700;
  letter-spacing: 5px;
}

.about {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 350px;
}

.aboutLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.aboutLeft > img {
  border-radius: 0 40px 40px 0px;
  width: 250px;
  height: 300px;
  object-fit: cover;
  opacity: 0.8;
}
.aboutRight {
  width: 60%;
  color: rgba(255, 255, 255, 0.733);
  display: flex;
  flex-direction: column;
}
.aboutRight-hi {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
}
.aboutRight-icon {
  width: 50px;
  height: 50px;
}
.aboutRight-hi > h2 {
  margin: 20px 0;
  font-size: 50px;
  letter-spacing: 5px;
  margin-right: 15px;
}
.aboutRight > h1 {
  margin: 20px 0;
  font-size: 40px;
  letter-spacing: 5px;
}
.aboutRight > p {
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 2px;
  color: rgb(9, 10, 58);
}
.aboutRight-icon {
  transform: rotate(-40deg);
}
.aboutRight-hi:hover > .aboutRight-icon {
  color: #ff0616;
  transition: 0.1s;
  transform: rotate(30deg);
}
.skill {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgb(234 12 10),
      rgba(118, 138, 216, 0.89)
    ),
    url("https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1536251178/1536251033.jpg");
  background-size: cover;
  flex-direction: column;
}

.skillDesc {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;

  margin-bottom: 30px;
}
.skillDesc > span:nth-child(2) {
  color: rgb(9, 10, 58);
  font-size: 25px;
  margin: 50px 150px;
}
.skillDesc > span:nth-child(1) {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 80px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  letter-spacing: 5px;
  margin-top: 100px;
}
.skillGrid {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 150px;
}
.skillGrid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.skillGrid-itemIcon {
  height: 55px;
  width: 55px;
  margin-bottom: 15px;
}

.skillGrid-item:hover > p {
  color: #0000009d;

  transition: 0.9s;
}

.skillGrid-item:hover > .skillGrid-itemIcon {
  color: #000000be;
  transition: 0.6s;
}
.project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgb(109 138 209),
      rgba(0, 0, 0, 0.89)
    ),
    url("https://i.hizliresim.com/tr8ruyh.jfif");
  background-size: cover;
  flex-direction: column;
}
.projectDesc {
  margin-top: 80px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 30px;
}
.projectDesc > span:nth-child(1),
.projectDesc > span:nth-child(2) {
  width: 100%;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  display: flex;
}

.projectCompanent {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.projectLeft,
.projectRight1 {
  width: 50%;
  color: rgba(255, 0, 0, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
}

.projectLeft > h1,
.projectRight1 > h1 {
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  color: #ffffff98;
}
.projectLeft > p,
.projectRight1 > p {
  font-size: 20px;
  margin-bottom: 15px;
  color: rgba(255, 0, 0, 0.89);
}
.projectIcons,
.projectIcons1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projectIcons1 {
  justify-content: flex-start;
}

.projectIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #d4f75498;
  margin-bottom: 10px;
}
.projectIcon:hover {
  color: rgba(217, 255, 0, 0.89);
  transition: 0.5s;
}
.projectRight,
.projectLeft1 {
  width: 40%;
}
.projectRight > img,
.projectLeft1 > img {
  width: 400px;
}
.projectFooter {
  margin-top: 20px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.projectFooter > a:nth-child(1),
.projectFooter > a:nth-child(2) {
  width: 45%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
  background-color: #ffffff98;
  border-radius: 10px;
  text-decoration: none;
}
.projectFooter > a:nth-child(1):hover,
.projectFooter > a:nth-child(2):hover {
  color: rgba(217, 255, 0, 0.89);
}
.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(255, 255, 255, 0.856)
  );
}
.contactDesc {
  position: absolute;
  color: #ffffff;
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 750px;
  letter-spacing: 5px;
}
.contactImg {
  width: 1170px;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0),
      rgba(255, 255, 255, 0.856)
    ),
    url("https://i.hizliresim.com/bblv9x8.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.contactContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contactLeft > span {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #ffffffc5;
  margin-bottom: 25px;
  letter-spacing: 1px;
  line-height: 200%;
}
.contactContainer .MuiFormControl-root {
  width: 700px !important;
  margin-bottom: 25px !important;
}
.MuiOutlinedInput-input {
  font-family: "Times New Roman", Times, serif !important;
  color: black !important;
  font-size: 20px !important;

  font-weight: 600 !important;
}
.MuiInputLabel-root {
  font-family: "Times New Roman", Times, serif !important;

  font-size: 18px !important;
  color: rgba(217, 255, 0, 0.89) !important;
  font-weight: 900 !important;
}
.contactRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #ffffffc5;
  flex-direction: column;
}
.contactRight > p {
  margin-bottom: 25px;
}
.contactRightIcons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactRightIcon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: #d4f75498;
  margin-bottom: 10px;
}
.contactRightIcon:hover {
  color: rgba(255, 0, 0, 0.89);

  transition: 0.5s;
}
.contactLeftButton {
  border: none;
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.795);
  background-color: #ffffff98;
  position: relative;
}
.contactLeftButton > span {
  position: absolute;
  left: 40px;
  top: 12px;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
.contactLeftButton-Icon {
  position: absolute;
  left: 150px;
  width: 30px;
  height: 30px;
  opacity: 0;
  top: 10px;
}
.contactLeftButton:hover {
  background-color: rgba(0, 0, 0, 0.226);
  color: #ffffffc5;
}
.contactLeftButton:hover > span {
  transition: all 700ms ease-out;

  left: 10px;
  top: 12px;
}

.contactLeftButton:hover > .contactLeftButton-Icon {
  transition: all 700ms ease-out;
  left: 170px;
  top: 10px;
  opacity: 1;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;

  background-color: rgb(255, 255, 255);
  font-weight: 700;
  color: rgba(255, 0, 0, 0.89);
}
@media only screen and (max-width: 720px) {
  .App {
    width: 100%;
  }
  .banner {
    display: none;
  }
  .comment {
    background-size: 100%;
  }
  .commentHeader {
    width: 80%;
    letter-spacing: 2px;
    margin: 10px 0;
  }
  .commentHeader > span:nth-child(2) {
    font-size: 30px;
    margin: 0;
    color: #ff5b5bd3;
  }

  .about {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-direction: column;
  }
  .aboutLeft {
    width: 100%;
  }
  .aboutRight {
    width: 100%;
    color: rgba(255, 255, 255, 0.733);
    display: flex;
    flex-direction: column;
  }
  .projectRight {
    width: 100%;
  }
  .aboutLeft > img{
   
    width: 200px;
    height: 250px;
    border-radius: 0 0px 40px 40px;
  }
  .aboutLeft {
    width: 100%;
  }
  .aboutRight-icon {
    width: 30px;
    height: 30px;
  }
  .aboutRight-hi > h2 {
    margin: 10px 0;
    font-size: 30px;
    margin-right: 15px;
  }
  .aboutRight > h1 {
    margin: 15px 0;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .aboutRight > p {
    text-align: center;
  }
  .skill {
    width: 100%;
    height: auto;
    background-size: contain;
  }
  .skillDesc {
    margin: 0;
    height: auto;
    width: 100%;
  }
  .skillDesc > span:nth-child(2) {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
  }

  .skillDesc > span:nth-child(1) {
    width: 80%;
    margin: 50px 0;
  }
  .project {
    background-size: contain;
    height: auto;
    margin: 0;
  }
  .projectCompanent {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0;
  }
  .projectLeft,
  .projectRight1 {
    width: 90%;
  }

  .skillGrid {
    width: 100%;
    grid-template-columns: auto auto auto;
    margin-bottom: 0;
  }
  .skillGrid-itemIcon {
    height: 35px;
    width: 35px;
  }
  .skillGrid-item {
    margin-bottom: 15px;
    color: white;
    font-size: 15px;
    font-weight: 700;
  }
  .projectRight > img {
    width: 300px;
    margin: 50px 20px;
  }
  .projectDesc {
    margin-bottom: 50;
    text-align: start;
  }

  .projectDesc > span:nth-child(2) {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
  }
  .projectLeft {
    width: 100%;
  }
  .projectRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projectIcon {
    width: 20px;
    height: 20px;
  }
  .projectFooter > a:nth-child(1),
  .projectFooter > a:nth-child(2) {
    width: 150px;
    height: 40px;
    border-radius: 3px;
  }
  .projectFooter {
    width: 90%;
  }
  .footer {
    font-size: 18px;
    text-align: center;
  }
  .contact {
    width: 100%;
  }
  .contactImg {
    width: 375px;
    height: auto;
  }

  .contactLeft > span {
    width: 96%;
    padding: 0 5px;
    font-size: 20px;
    line-height: 120%;
  }
    .contactContainer {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contactContainer .MuiFormControl-root {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .contactRight > p {
  margin-bottom: 20px;
  color:rgb(9, 10, 58);

}

.contactRightIcon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  color: #99b141ee;
  margin-bottom: 10px;
}
}
