.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
}
.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.322);
  position: fixed;
  z-index: 10;
  top: 0px;
}
.bannerContent {
  display: flex;
  width: 15%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannerContent:hover > .bannerItemLine {
  width: 50%;
  height: 5px;
  background-color: #f0535dd5;
  transition: 0.5s;
}

.bannerItem {
  width: 100%;
  color: white;
  margin: 0 50px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}
.bannerItemLine {
  width: 0px;
  height: 5px;
  background-color: rgb(132, 0, 255);
}
.comment {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(246, 230, 224, 0.52),
      rgba(238, 180, 170, 0.979)
    ),
    url("https://wallpaperaccess.com/full/279547.jpg");
  background-size: cover;
  flex-direction: column;
}
.commentHeader {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  letter-spacing: 5px;
  font-weight: 700;

  margin-bottom: 30px;
}
.commentHeader > span:nth-child(2) {
  color: #1c2273;
  font-size: 80px;
  margin: 50px 150px;
  font-weight: 700;
}
.commentHeader > span:nth-child(1) {
  color: #f0535d;
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: 700;
}

.about {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 350px;
}

.aboutLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.aboutLeft > img {
  border-radius: 100%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  opacity: 0.9;
}
.aboutRight {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
}
.aboutRight-hi {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(245, 255, 111, 0.685);
}
.aboutRight-icon {
  width: 50px;
  height: 50px;
}
.aboutRight-hi > h2 {
  margin: 20px 0;
  font-size: 80px;
  letter-spacing: 5px;
  margin-right: 15px;
}
.aboutRight > h1 {
  margin: 20px 0;
  font-size: 70px;
  letter-spacing: 5px;
}
.aboutRight > p {
  margin: 20px 0;
  font-size: 45px;
  letter-spacing: 5px;
  color: rgb(137, 43, 226);
}
.aboutRight-icon {
    transform: rotate(-40deg);
}
.aboutRight-hi:hover > .aboutRight-icon {
  color: #f0535d;
  transition: 0.1s;
  transform: rotate(30deg);
}
.skill {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(238, 180, 170, 0.979),
      rgba(118, 138, 216, 0.89)
    ),
    url("https://res.cloudinary.com/people-matters/image/upload/q_auto,f_auto/v1536251178/1536251033.jpg");
  background-size: cover;
  flex-direction: column;
}

.skillDesc {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
    align-items: center;
  letter-spacing: 5px;
  

  margin-bottom: 30px;
}
.skillDesc > span:nth-child(2) {
  color: #656565;
  font-size: 45px;
  margin: 50px 150px;
  
}
.skillDesc > span:nth-child(1) {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 80px;
  font-weight: 700;
}
.skillGrid {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin-bottom: 150px;
}
.skillGrid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  color: white;
  font-size: 35px;
  font-weight: 700;
}
.skillGrid-itemIcon {
  height: 60px;
  width: 60px;
  margin-bottom: 15px;
}

.skillGrid-item:hover > p {
  color: #656565;
  transition: 0.5s;
}

.skillGrid-item:hover > .skillGrid-itemIcon{
color: #656565;
transition: 0.3s;
}


.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgb(118, 138, 216),
      rgba(254, 242, 216, 0.616)
    ),
    url("https://i.hizliresim.com/bblv9x8.jfif");
  background-size: cover;
  flex-direction: column;
}

.contactDesc {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  letter-spacing: 5px;
  

  margin-bottom: 30px;
}

.footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);
  font-weight: 700;
}
